@import './mixins';
@import './variables';


body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#header{
    background-color: black;
    color: red;
    text-shadow: 1.5px 1.5px yellow;
    font-size: 6vh;
    height: 80px;
    text-align: center;
    padding-top: 25px;
}
#navigatie{
    background-color: yellow;
    color: black;
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    .navigatie-lijst{
        text-align: center;
        padding: 0;
        text-decoration: none;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        .navigatie-item{
            display: inline-block;
            padding: 1em 1vh;
            font-size: 2vh;
            font-weight: 600;
            width: 20%;

            &:hover{
                background-color: rgba(0, 0, 0, .5);
            }
        }
    }
}
#side-menu{
    // width: 40%;
    color: yellow;
    font-size: 3vw;
    margin-top: 10px;

    .side-radio-label{
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
        padding: 5px 0;
        align-items: center;
    }
    input[type="radio"]{
    @include radio-input;
    }
}